{% extends 'base.html.twig' %}

{% block title %}Rencontre{% endblock %}

{% block body %}
   <center><h1 style="font-family: cursive;">Rencontre</h1></center>

    <table class="table" style="font-family: cursive;">
        <tbody>
{#            <tr>#}
{#                <th>IdRen</th>#}
{#                <td>{{ rencontre.id }}</td>#}
{#            </tr>#}
            <tr>
                <th>TypeRencontre</th>
                <td>{{ rencontre.typeRencontre }}</td>
            </tr>
            <tr>
                <th>UrlInvitation</th>
                <td>{{ rencontre.urlInvitation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_rencontre_edit', {'id': rencontre.id}) }}"class="btn btn-secondary" style="font-family: cursive;">Modifier</a>

    {{ include('rencontre/_delete_form.html.twig') }}
{% endblock %}
