{% extends 'base.html.twig' %}

{% block title %}Rencontre{% endblock %}

{% block body %}
    <h1>Rencontre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdRen</th>
                <td>{{ rencontre.id }}</td>
            </tr>
            <tr>
                <th>TypeRencontre</th>
                <td>{{ rencontre.typeRencontre }}</td>
            </tr>
            <tr>
                <th>UrlInvitation</th>
                <td>{{ rencontre.urlInvitation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_rencontre_index') }}">back to list</a>

    <a href="{{ path('app_rencontre_edit', {'id': rencontre.id}) }}">edit</a>

    {{ include('rencontre/_delete_form.html.twig') }}
{% endblock %}
