{% extends 'base.html.twig' %}

{% block title %}Vos Salles Cinéma{% endblock %}

{% block body %}
 <center><h1 style="font-family: cursive;">Vos Salles Cinéma</h1></center>

    <table class="table" style="font-family: cursive;">
        <thead style="color: teal">
            <tr>
                <th>NomSalle</th>
                <th>UrlFilm</th>
                <th>UrlSalle</th>
                <th>Chat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salle_cinema in salle_cinemas %}
            <tr>
                <td>{{ salle_cinema.nomSalle }}</td>
                <td>{{ salle_cinema.urlFilm }}</td>
                <td>{{ salle_cinema.urlSalle }}</td>
                <td>{{ salle_cinema.chat }}</td>
                <td>
                    <a href="{{ path('app_salle_cinema_show', {'idSalle': salle_cinema.idSalle}) }}"class="btn btn-primary" style="background-color: teal;font-family: cursive;">Afficher</a>
                    <a href="{{ path('app_salle_cinema_edit', {'idSalle': salle_cinema.idSalle}) }}"class="btn btn-outline-info" style="font-family: cursive;">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune Salle trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
