{% extends 'base.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}
    <h1>Evenement index</h1>

    <table class="table" border="1">
        <thead>
            <tr>
                <th>IdEvent</th>
                <th>NomEvent</th>
                <th>NbrParticipants</th>
                <th>DateEvent</th>
                <th>TypeEvent</th>
                <th>EventVisibilite</th>
                <th>Description</th>
                <th>DateP</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.id }}</td>
                <td>{{ evenement.nomEvent }}</td>
                <td>{{ evenement.nbrParticipants }}</td>
                <td>{{ evenement.dateEvent }}</td>
                <td>{{ evenement.typeEvent }}</td>
                <td>{{ evenement.eventVisibilite }}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.dateP ? evenement.dateP|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_evenement_show', {'id': evenement.id}) }}">show</a>
                    <a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}">edit</a>
                    {% if (evenement.typeEvent=='SalleCinema') %}
                    <a href="{{ path('app_salle_cinema_index',{'event': evenement.id}) }}">Show Salle Cinema</a>
                    {% else %}
                    <a href="{{ path('app_rencontre_index',{'event': evenement.id}) }}">Show Rencontre</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_evenement_new') }}">Create new</a>
{% endblock %}
